ion-header {
  --ion-toolbar-background: rgb(255, 255, 255);
}

ion-header ion-title {
  width: 100%;
  padding: 10px;
}

ion-header ion-title a{
  text-align: center;
  max-width: 140px;
  margin:0 auto;
  padding:0.5rem;
  display:block;
}

ion-menu ion-header {
  --ion-toolbar-background: rgb(0, 0, 0);
}

ion-menu-button,
ion-title {
  color: rgb(0, 0, 0);
}

ion-header ion-grid,
ion-header  ion-grid a {
  color: rgb(0, 0, 0);
}

ion-grid {
  max-width: 1200px;
  width: 100%;
}

ion-menu ion-title {
  color: rgb(255, 255, 255);
}
